@use "../global" as g;

.first-view {
  padding: 50px 0;
  background: g.$cr-gra;

  @include g.mq("md") {
    padding: 100px 0;
  }
}

.first-view__heading {
  font-size: 26px;
  font-weight: 700;

  @include g.mq("md") {
    font-size: 32px;
  }
}
