// フォント
//--------------------------
$ff-base: Helvetica Neue, Arial, Hiragino Sans, Hiragino Kaku Gothic ProN,
  BIZ UDPGothic, Meiryo, sans-serif;
$ff-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
  monospace;
$fz-base: 16px;
$fw-base: 400;
$lh-base: 2;
$ls-base: 0.08em;

// 色
//---------------------
$cr-main: #a6de3c;
$cr-gra: linear-gradient(to right, #c2e837, #a6de3c);
$cr-bg: #e0e0e0;
$cr-text: #333;

// レイアウトサイズ
//--------------------------
$layout-width-inner: 1060px;
$breakpoint-size: (
  "sm": 576,
  "md": 768,
  "lg": 1060,
  "xl": 1280,
  "xxl": 1440,
);

// ブレークポイント (PC基準)
//---------------------
$breakpoints: (
  sm: "(min-width: #{map-get($breakpoint-size,'sm')}px)",
  md: "(min-width: #{map-get($breakpoint-size,'md')}px)",
  lg: "(min-width: #{map-get($breakpoint-size,'lg')}px)",
  xl: "(min-width: #{map-get($breakpoint-size,'xl')}px)",
  xxl: "(min-width: #{map-get($breakpoint-size,'xxl')}px)",
  "hover": "(hover: hover)",
);
